<% provide(:title, 'About') %>
<h1>About</h1>
<h3>Disclaimer</h3>
<p>
  All skill icons used on this page was designed by user "Freepik" over at <%= link_to 'flaticon.com', 'http://www.flaticon.com/authors/freepik' %>.
</p>
