<% provide(:title, "Contact") %>
<h1>Contact</h1>
<p>
Voluptas molestias sit optio reprehenderit tenetur tempore. Voluptatem ea dignissimos perferendis facere. Et animi magnam voluptatem qui. Voluptas voluptatibus deleniti sint aut nesciunt exercitationem deserunt.
</p>
