<% provide(:title, 'Home') %>
<div class="center jumbotron">
  <h1>Welcome to Password</h1>

  <h2>
    This is the home page for the solution to OpenHack 2017 by group Password.
  </h2>

  <%= link_to 'Sign up now!', signup_path, class: 'btn btn-lg btn-primary' %>
</div>
