<a href="<%= job_path(job) %>" class="list-group-item">
  <h4 class="list-group-item-heading"><%= job.title %></h4>
  <p class="list-group-item-text"><%= truncate job.description, length: 250 %></p>
</a>
