<% provide(:title, @user.name) %>
<div class="container">

  <div class="row">
    <aside class="col-md-4">
      <section class="user_info">
        <h1>
          <%= gravatar_for @user %>
          <%= @user.name %>
        </h1>
      </section>
    </aside>
  </div>

  <div class="dl-horizontal">
    <dt>Your skills</dt>
    <dd>
      <% @user.skills.each do |skill| %>
        <button class="btn btn-default">
          <%= skill.title %>
        </button>
      <% end %>
    </dd>

    <dt>Jobs matching you</dt>
    <dd>
      <%= render Job.jobs_matching_user_skills(@user) %>
    </dd>
  </div>
</div>
