<a href="<%= skill_path(skill) %>" class="list-group-item">
  <h4 class="list-group-item-heading">
    <%= image_tag skill.image.url(:thumb) %>
    <%= skill.title %>
    <small>
      <%= skill.jobs.count %>
    </small>
  </h4>
</a>
