<% provide(:title, 'All skills') %>
<h1>All skills</h1>

<div class="container">

  <% if current_user.admin? %>
    <div class="row">
      <%= link_to 'Define new skill', new_skill_path, class: 'btn btn-primary' %>
    </div>
  <% end %>

  <div class="row">
    <div class="list-group">
      <%= render @skills %>
    </div>

    <%= will_paginate %>
  </div>
</div>
